---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { SITE_TITLE, author } from '../../consts';

import { WidgetAuthor, WidgetLatestPost, FormattedDate, MainLayout, WidgetCategories} from "@utils/index";

export async function getStaticPaths( ) {
  const blogEntries = await getCollection('blog');
  return blogEntries.map( post => ({
    params: { cat: post.data.categories }, props: { post },
  }));
}
const { post } = Astro.props;

const listCat = await getCollection('blog', ({data}) => {
	return data.categories.toLowerCase() === post.data.categories.toLowerCase() ;
});
---
<MainLayout
	title={SITE_TITLE}
	description="categories pages"
>
	<div class="container">
		<div class="grid lg:grid-cols-3 gap-12 py-8">
			<div class="lg:col-span-2 space-y-8">
				<h1 class="text-4xl font-bold">Categories : {post.data.categories}</h1>
				<div class="space-y-8">
				{listCat.map(cat =>
					<div class="md:flex gap-4">
						<div class="basis-1/3 aspect-video grayscale">
							<Image loading="eadger" class="rounded" src={cat.data.heroImage}alt={cat.data.title} />
						</div>
						<div class="basis-2/3 space-y-3">
							<h2 class="text-xl font-bold"><a href={`/blog/${cat.slug}`}>{cat.data.title}</a></h2>
							<div class="flex gap-4">
								<div class="flex gap-1">
									<span><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20 22H18V20C18 18.3431 16.6569 17 15 17H9C7.34315 17 6 18.3431 6 20V22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13ZM12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"></path></svg></span> <span>{author.name}</span>
								</div>
								<div class="flex gap-1">
									<span><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z"></path></svg></span> <FormattedDate date={cat.data.pubDate} />
								</div>
							</div>
							
							<p>{cat.data.description}</p>
						</div>
					</div>
				)}
				</div>
			</div>
			<div class="space-y-8">
				<WidgetLatestPost />
				<WidgetAuthor />
				<WidgetCategories />
			</div>
		</div>
	</div>
</MainLayout>
